.ui-segment{
	/* color: rgb(0, 122, 255); */
	color: #17B794;
	/* border: 1px solid rgb(0, 122, 255); */
	border: 1px solid #17B794;
	border-radius: 4px;
	display:inline-block;
}
.ui-segment span.option.active{
	/* background-color: rgb(0, 122, 255); */
	background-color: white;
	color: #777;
	font-weight: bold;
}
.ui-segment span.option{
	/* font-size: 13px; */
	padding-left: 23px;
	padding-right: 23px;
	height: 25px;
	text-align:center;
	display:inline-block;
	/* line-height: 25px; */
	margin: 0px;
	float:left;
	cursor:pointer;
	/* border-right:1px solid rgb(0, 122, 255); */
	border-right:1px solid #17B794;
}
.ui-segment span.option:last-child{
	border-right: none;
}
.segment-select{
	display:none;
}
